extends layout

block content
  div#backend
    each category, category_name in data
      b !{category_name.toUpperCase()}
      ul
        each subcategory, subcategory_name in category
          if typeof subcategory == "object"
            li !{subcategory_name.toUpperCase()}
            ul
              each subcategory_2, subcategory_2_name in subcategory
                if typeof subcategory_2 == "object"
                  li !{subcategory_2_name.toUpperCase()}
                  ul
                    each subcategory_3, subcategory_3_name in subcategory_2
                      li !{subcategory_3_name.toUpperCase()}: !{subcategory_3}
                else
                  li !{subcategory_2_name.toUpperCase()}: !{subcategory_2}
          else
            li !{subcategory_name.toUpperCase()}: !{subcategory}